main{
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    padding: 2%;
    background-color: #e3f2db4d;
}

.image{
    width: 15%;
}

.h1{
    text-transform: capitalize;
}

ul{
    color: #0056ff;
}